<body>
    <script>
        window.onload = function () {
            // Show the alert with the message passed from the server
            alert("{{message}}");
            // Redirect to the login page after the alert is closed
            window.location.href = '/user/login-register';
        };
    </script>
</body>