<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes</title>
  <link rel="stylesheet" href="/css/note.css">
  <link rel="stylesheet" href="/css/shared_note.css">
</head>
<body>
  <div id="shared-note-content"></div>

  <script id="notes-data" type="application/json">
    {{{json_stringify noteByNoteID}}}
  </script>

  <script src="/js/shareNote.js"></script>
</body>
</html>